doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        title Webpack app
        link(rel="stylesheet" href="assets/css/style.css")
    body
        header.header
            include template/header
        main.main
        div.main-banner
            img
        div.info
            div.info-left
                div.info-left__title
            div.info-right
                div.info__description
                div.info-list
                    div.info-list__title
                    div.info-list__items
                           div.info-list__icon
                           div.info-list__text
        div.vacancies
            div.vacancies-list
        footer.footer
        script(type="text/javascript" src="assets/js/scripts.min.js")
