li.vacanciesItemWrap
    input(
        type='checkbox'
        checked
    )
    i.vacanciesInnerlistIcon
    h3.vacanciesItemTitle Отдел продаж
    ul.vacanciesInnerlist
        li.vacanciesInnerlistItem
            a(href="#") Менеджер отдела
        li.vacanciesInnerlistItem
            a(href="#") Заместитель руководителя отдела продаж
        li.vacanciesInnerlistItem
            a(href="#") Руководитель отдела продаж

